* {
    margin: 1%;
    padding: 1%;
    font-family: monospace;
}

body {
    max-width: 960px;
    margin: 3% auto;
    background-color: #222;
    color: #ddd;
}

#controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid #444;
}
#controls > h1 {
    width: 100%;
    border: 2px solid #666;
}

#chirpModal {
    width: 100%;
    border: 2px solid #666;
}